<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>playerName</key>
            <string>Keithong</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Bellesome</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Vaughn</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Aaron</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Patrick</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Kenneth</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Sean</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Francis</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Rabang</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Vilog</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        <dict>
            <key>playerName</key>
            <string>Nigger</string>
            <key>playerScore</key>
            <string>10</string>
        </dict>
        </array>
</plist>
